<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="orderfoodConnectionString" connectionString="Data Source=localhost;Initial Catalog=orderfood;Persist Security Info=True;User ID=sa;Password=sql" providerName="System.Data.SqlClient"/>
    <add name="orderfoodConnectionStringOle" connectionString="Provider=SQLOLEDB;Data Source=localhost;Initial Catalog=orderfood;Persist Security Info=True;User ID=sa;Password=sql" providerName="System.Data.OleDb;"/>
  </connectionStrings>
  <appSettings>
    <add key="Admin" value="beiguanyi,admin,chenshaomin"/>
    <add key="LimitTime" value="11:15"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" >
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="~/Login.aspx" cookieless="UseCookies"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="html-Integrated-4.0" verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory"/>
    </handlers>
  </system.webServer>
  <location path="Public">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>